// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: 'Ruluko';
}
p {
  font-family: 'Sniglet';
}

a, a:visited {
  color: #02CFF7;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}


.logo {
  width: 350px;
  margin-left: 20px;
}
.add_product_button {
  position: absolute;
  z-index: 5;
  width: 200px;
  height: 200px;
  right: -100px;
  top: -100px;
  background: #02CFF7;
  border-radius: 150px;
}
.add_product_link {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 120px;
  height: 100px;
  text-align: center;
  line-height: 70px;
  padding: 0;
  margin: 0;
  font-size: 100px;
}
.add_product_link a {
  color: #96EEFF;
  display: block;
}
.add_product_link a:hover {
  text-decoration: none;
  color: #FFF;
}


.user_panel {
  position: absolute;
  z-index: 2;
  top: 0px;
  right: 85px;
  padding: 5px 20px;
  background: rgba(0,0,0,0.25);
  border-radius: 0px 0px 0px 10px;
}
.user_panel ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.user_panel li {
  display: inline-block;
  padding: 4px 15px;
  border-right: 1px solid #999;
  font-size: 11px;
}
.user_panel li:last-child {
  border-right: 0px;
}
.user_panel a {
  color: #000;
}



/* INDEX */
.index_product_div {
  margin-top: 25px;
}
.index_product_container {
  width:300px;
  padding: 15px;
  margin: 15px;
  border-radius: 10px;
  border: 1px dotted #AAA;
  float: left;
}
  .index_product_container h3 {
    font-size: 26px;
    font-weight: bold;
    margin: 0px;
  }
  .index_product_description {
    margin: 20px 0px;
    font-size: 14px;
    color: #333;
  }
  .index_product_price {
    font-size: 17px;
    font-style: italic;
    text-align: center;
    margin: 0px;
  }



/* NEW PRODUCT */
.new_product_container {
  width: 70%;
  margin: 25px 0px;
  border-radius: 14px;
  border: 1px dotted #AAA;
  padding: 10px;
}

.new_product_container label {
  display: inline-block;
  width: 170px;
}

.new_product_container input[type=text], textarea {
  width: 400px;
  margin: 5px 0px;
  padding: 4px;
  border: 1px solid #AAA;
  border-radius: 5px;
  vertical-align: top;
  outline: none;
}
.new_product_container input[type=text]:focus, textarea:focus {
  border: 1px solid #FC0;
  box-shadow: 
    1px 1px 0px #FFEA00,
    2px 2px 0px #FFFF00,
    3px 3px 0px #ACDB00,
    4px 4px 0px #7BC200;
  
}



/* Show product */
#show_product_edit_link {
  color: #F00;
}










