<h2>Reviews for <%= @product.name %></h2>



<% @product.reviews.each do |review| %>
  <% next if review.user.nil? %>
  <div class="review">
    <p><%= review.comment %></p>
    <p class="review_author">By <%= review.user.email %> on <%= review.created_at %></p>
  </div>
<% end %>

<h3 style="margin-top: 25px;">Add a New Review</h3>
